.card {
  display: flex;
  flex-direction: column;
  width: 276px;
  height: 424px;
  margin-bottom: 48px;
}

.thumb {
  position: relative;
  width: 100%;
  height: 268px;
  border-radius: 14px;
  overflow: hidden;
  background-color: #f3f3f2;
  margin-bottom: 14px;
}

.image {
  object-fit: cover;
}

.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.title {
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: var(--main);
  margin: 0;
}

.accent {
  color: var(--button);
}

.price {
  font-weight: 500;
  font-size: 16px;
  color: #121417;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 4px 12px;
  margin-bottom: 28px;
  color: rgba(18, 20, 23, 0.5);
  font-size: 12px;
  line-height: 133%;
  height: 40px;
}

.tags span {
  position: relative;
}

.tags span:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 2px;
  right: -7px;
  width: 1px;
  height: 12px;
  background-color: rgba(18, 20, 23, 0.1);
}

.btn {
  width: 100%;
  padding: 12px 0;
  background-color: #3470ff;
  color: white;
  border: none;
  border-radius: 12px;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.btn:hover {
  background-color: #0b44cd;
}

.favorite {
  position: absolute;
  top: 14px;
  right: 14px;
  background: transparent;
  border: none;
  font-size: 16px;
  cursor: pointer;
}