:root {
  --main: #101828;
  --gray: #8d929a;
  --gray-light: #dadde1;
  --badges: #f2f4f7;
  --inputs: #f7f7f7;
  --white: #fff;
  --button: #3470ff;
  --button-hover: #0b44cd;

  --font-family: "Manrope", sans-serif;
  --second-family: "Inter", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  color: white;
  font-family: "Inter", sans-serif;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
  margin: 0;
}

link {
  color: white;
  text-decoration: none;
  margin: 0 auto;
}

p {
  font-weight: inherit;
  font-size: inherit;
  margin: 0;
}

button {
  cursor: pointer;
  border: none;
}

ul,
li {
  list-style: none;
  margin: 0;
}

.container {
  max-width: 1440px;
  padding: 0 120px;
  margin: 0 auto;
}
