:root {
  --font-family: "Manrope", sans-serif;
  --second-family: "Inter", sans-serif;
}

.main {
  background-image: url(../public/hero.webp);
  background-size: cover;
  background-position: center;
  height: 676px;
}

.title {
  margin: 0;
  margin-bottom: 16px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 60px;
  line-height: 120%;
  text-align: center;
  color: white;
}

.subtitle {
  margin: 0;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  text-align: center;
  color: white;
  margin-bottom: 40px;
}

.button {
  transition: background 0.2s;
  border-radius: 12px;
  padding: 12px 99px;
  width: 276px;
  height: 44px;
  background: #3470ff;
  margin: 0 auto;
  display: flex;
  padding: 0;
  align-items: center;
  justify-content: center;
  color: white;
  &:hover {
    background: var(--button-hover);
  }
}

.link {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  color: white;
  text-decoration: none;
}

.section {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 783px;
  height: 204px;
}
