.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 78px 120px 104px 120px;
  color: var(--main);
}

.wrapper {
  display: flex;
  gap: 72px;
}

.leftCol {
  flex: 0 0 600px;
}

.rightCol {
  flex: 1;
}

.mainImg {
  border-radius: 19px;
  width: 640px;
  height: 512px;
  margin-bottom: 40px;
}

.bookingCard {
  border: 1px solid var(--gray-light);
  border-radius: 10px;
  padding: 32px;
  width: 640px;
  height: 488px;
}

.bookTitle {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: var(--main);
  margin-bottom: 8px;
}

.bookSubtitle {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: var(--gray);
  margin-bottom: 24px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form input,
.form textarea {
  border-radius: 12px;
  padding: 12px 20px;
  width: 576px;
  height: 48px;
  background: var(--inputs);
  border: none;
}

.form textarea {
  border-radius: 12px;
  padding: 12px 20px 56px;
  width: 576px;
  height: 88px;
  resize: none;
}

.submitBtn {
  transition: background-color 0.2s;

  border-radius: 12px;
  padding: 12px 51px;
  width: 156px;
  height: 44px;
  background: var(--button);

  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  color: var(--white);

  margin: 0 auto;
  margin-top: 8px;
}

.submitBtn:hover {
  background-color: #0b44cd;
}

.header h1 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  text-align: center;
  color: var(--main);
  display: inline;
  margin-bottom: 8px;
  margin-right: 16px;
}

.idText {
  font-size: 12px;
  color: rgba(18, 20, 23, 0.5);
  margin-left: 8px;
}

.location {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: var(--main);
}

.price {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  color: var(--button);
  margin-top: 16px;
  margin-bottom: 32px;
}

.description {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: var(--main);
  margin-bottom: 68px;
}

.section {
  margin-bottom: 24px;
}

.sectionTitle {
  font-family: var(--font-family);
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: var(--main);
}

.conditionsGrid,
.tagsCloud {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 110px;
}

.conditionItem,
.tag {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: var(--main);
  display: flex;
  flex-direction: column;
}

.blueCheck {
  color: #3470ff;
  margin-right: 8px;
  font-size: 16px;
  font-weight: bold;
}

.specsList {
  list-style: none;
  padding: 0;
  margin-bottom: 110px;
}

.specsList li {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: black;
  margin-bottom: 16px;
}

.specsList li span {
 color: black;
 font-family: var(--font-family);
font-weight: 500;
font-size: 16px;
line-height: 125%;
}

.specsList li strong {
  font-weight: 500;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 20px;
}

.spanSelect {
  color: #000;
}
/* ===================SVG=================== */
.icon {
  flex-shrink: 0;
  margin-right: 8px;
  fill: none;
  stroke: currentColor; 
}

.conditionItem,
.tag {
  display: flex;
  flex-direction: row; 
  align-items: center;
}

.specsList li {
  display: flex;
  align-items: center; 
  justify-content: flex-start; 
  gap: 4px;
}

.specsList li span {
  display: flex;
  align-items: center;
  margin-right: 4px;
}

.location {
  display: flex;
  align-items: center;
}